body
{
	max-width: 1200px;
	margin: auto;
	margin-top: 0;
	margin-bottom: 0;
	background-image: url("bakgrund_.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	
}
header {
 padding-top: 35px;
}
.sida
{
	background-color: rgba(30,30,30, 0.5);
	color: white;
}
#navcontainer
{



font-family: Arial,Sans-Serif;
margin: 0 auto;
width: 70%;
border-bottom: 1px solid #ddd;
}
#navlist {
width: 60%;
text-align: center;
margin: 0 auto;
padding: 0;
text-indent: 0;
list-style-type: none;
}
#navlist li {
padding: 0;
margin: 0;
text-indent: 0;
display: inline;
}
#navlist li a {
letter-spacing: -1px;
text-decoration: none;
color: #ccc;
font-size: 1em;
padding: 0 2px;
border-top: .5em solid #eee;
}
#navlist li a:hover,#navlist a#current {
color: white;
border-top: none;
font-size: 1.5em;
}
#navlist a#current {
color: #fc6;
}

ul#list {
margin: 0 0 0 30px;
padding: 0;
width: 12.5%;
}
#list li {
list-style-type: none;
background-color: #191970;
color: #daa520;
border: .2em solid #daa520;
font-weight: 600;
text-align: center;
padding: .3em;
margin-bottom: .1em;
}
#list li a {
color: #daa520;
text-decoration: none;
display: block;
}
#list li a:hover {
background-color: #faebd7;
color: #191970;
}

/*#list {
margin: 0;
padding: 0 0 20px 10px;
/*border-bottom: 1px solid #000;*//*
}
#list ul, #list li {
margin: 0;
padding: 0;
display: inline;
list-style-type: none;
}
#list a:link, #list a:visited {
float: left;
line-height: 14px;
font-weight: bold;
margin: 0 10px 4px 10px;
text-decoration: none;
color: #999;
}
#list a:link#current, #list a:visited#current, #list a:hover {
border-bottom: 4px solid #000;
padding-bottom: 2px;
background: transparent;
color: #000;
}
#list a:hover {
color: #000;
}*/
body {
	text-align: center;
}
h1, h2 {
	font-family: 'Comfortaa', cursive;
	margin-top: 0;
	margin-bottom: 0;
	color: white;
}
.nyabilder article  p{
	
	 display:inline-block;
	 margin: 20px;
	 
}
.nyabilder img {
border: 1px solid #000;
}